@model List<HospitalProject.Models.HospitalCampus>

@{
    ViewBag.Title = "List";
}

<h2>List of Hospital Campuses</h2>

<div class="navbar">
    <form action="/HospitalCampus/List" method="GET">
        <input type="text" name="searchkey" id="searchkey" class="btn btn-default search-input" />
        <input type="submit" value="Search" class="btn btn-default" />
    </form>
    <a class="btn btn-default" href="/HospitalCampus/Add" role="button">Add New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Campus Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Postal Code</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hospitalcampus in @Model)
        {
            <tr>
                <td><a href="/HospitalCampus/Show/@hospitalcampus.CampusID">@hospitalcampus.CampusName</a></td>
                <td>@hospitalcampus.CampusAddressLine1 @hospitalcampus.CampusAddressLine2</td>
                <td>@hospitalcampus.CampusCity</td>
                <td>@hospitalcampus.CampusProvince</td>
                <td>@hospitalcampus.CampusPC</td>
                <td>@hospitalcampus.CampusPhone</td>
                <td><a class="btn btn-default" href="/HospitalCampus/Update/?CampusID=@hospitalcampus.CampusID">Update</a></td>
            </tr>
        }
    </tbody>
</table>


@*<div class="tilecontainer">
    @{
        foreach (var hospitalcampus in @Model)
        {
            <div class="listitem">
                <a href="/HospitalCampus/Show/@hospitalcampus.CampusID">@hospitalcampus.CampusName</a>
                <a class="btn btn-default" href="/HospitalCampus/Update/@hospitalcampus.CampusID">Update</a>
            </div>
        }
    }
</div>*@
