@model HospitalProject.Models.HospitalCampus

@{
    ViewBag.Title = "Update";
}

<h2>Update Hospital Campus: @Model.CampusName</h2>


<div class="navbar">
    <a class="btn btn-info" href="/HospitalCampus/List" role="button"><span class="glyphicon glyphicon-chevron-left" style="padding-right: 2px;"></span>Back to List</a>
</div>

<form method="POST" action="/HospitalCampus/Update/?CampusID=@Model.CampusID" class="form-horizontal">
    <div class="form-group">
        <label for="CampusName" class="col-sm-2 control-label">Campus Name:</label>
        <div class="col-sm-10">
            <input id="CampusName" class="form-control" type="text" name="CampusName" value="@Model.CampusName" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusAddressLine1" class="col-sm-2 control-label">Address Line 1:</label>
        <div class="col-sm-10">
            <input id="CampusAddressLine1" class="form-control" type="text" name="CampusAddressLine1" value="@Model.CampusAddressLine1" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusAddressLine2" class="col-sm-2 control-label">Address Line 2:</label>
        <div class="col-sm-10">
            <input id="CampusAddressLine2" class="form-control" type="text" name="CampusAddressLine2" value="@Model.CampusAddressLine2" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusCity" class="col-sm-2 control-label">City:</label>
        <div class="col-sm-10">
            <input id="CampusCity" class="form-control" type="text" name="CampusCity" value="@Model.CampusCity" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusProvince" class="col-sm-2 control-label">Province:</label>
        <div class="col-sm-10">
            <input id="CampusProvince" class="form-control" type="text" name="CampusProvince" value="@Model.CampusProvince" />
        </div>
    </div>


    <div class="form-group">
        <label for="CampusPC" class="col-sm-2 control-label">Postal Code:</label>
        <div class="col-sm-10">
            <input id="CampusPC" class="form-control" type="text" name="CampusPC" value="@Model.CampusPC" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusPhone" class="col-sm-2 control-label">Phone:</label>
        <div class="col-sm-10">
            <input id="CampusPhone" class="form-control" type="text" name="CampusPhone" value="@Model.CampusPhone" />
        </div>
    </div>
    <div class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>
        <input type="submit" style="text-decoration: none; border: none; background: none; padding: 0 0 0 2px;" value="Update Hospital Campus" />
    </div>


</form>
