@model List<HospitalProject.Models.DoctorAppointment>
@{
    ViewBag.Title = "Bookings";
}

<h2>Doctor's Appointments</h2>
<a href="Add">Add Booking</a>
<table class="table">
    <tr>
        <th>Doctor</th>
        <th>Booking Time</th>
        <th>Comments</th>
        <th>Confirmed</th>
        <th>Actions</th>
    </tr>
    @foreach (var booking in Model)
    {
        var confirmed = "Not-Confirmed";
        if(@booking.Confirmed)
        {
            confirmed = "Confirmed";
        }
        <tr>
            <td>Dr. @booking.Doctor.ApplicationUser.FirstName @booking.Doctor.ApplicationUser.LastName</td>
            <td>@booking.BookingDateTime</td>
            <td>@booking.PatientComments</td>
            <td>@confirmed</td>
            <td><a href="Update/@booking.BookingID">Edit</a> | <a href="Delete/@booking.BookingID">Delete</a></td>
        </tr>
    }
</table>

