@model HospitalProject.Models.ViewModels.ParkingUpdate
@{
    ViewBag.Title = "UpdateBooking";
}

<h2>Update Booking</h2>

<a href="/Parking/Bookings">Back to Bookings</a>
<form method="POST" action="/Parking/Update" class="form-horizontal">
    <div class="form-group">
        <label for="CampusName" class="col-sm-2 control-label">Parking:</label>
        <div class="col-sm-10">
            <select class="form-control" name="parkingID" id="parkingSelect" disabled>
                @foreach (var parking in Model.Parkings)
                {
                    var selected = "";
                    if (Model.ParkingBooking.ParkingID == parking.ParkingID)
                    {
                        selected = "selected";
                    }
                    <option value="@parking.ParkingID" @selected>@parking.ParkingTitle - @parking.Location (Capacity- @parking.Capacity)</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" name="bookingID" value="@Model.ParkingBooking.BookingID" />
        <label for="CampusAddressLine1" class="col-sm-2 control-label">Date & Time:</label>
        <div class="col-sm-10">
            <input id="DateTime" class="form-control" value="@Convert.ToDateTime(Model.ParkingBooking.BookingTime).ToString("yyyy-MM-ddTHH:MM")" min="@Convert.ToDateTime(DateTime.Now).ToString("yyyy-MM-ddTHH:MM")" type="datetime-local" name="bookingDateTime" />
        </div>
    </div>

    <div class="form-group">
        <label for="CampusAddressLine1" class="col-sm-2 control-label">Hours:</label>
        <div class="col-sm-10">
            <input id="hours" class="form-control" type="number" name="hours" value="@Model.ParkingBooking.Hours"/>
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Update Booking" />
    </div>


</form>