@model HospitalProject.Models.ViewModels.UpdateApplication
@{
    ViewBag.Title = "Update";
}

<h2>Update </h2>

<div class="navbar">
    <a class="navlink" href="/Application/List">Back to List</a>
</div>
<div class="col2">
    <form method="post" action="/Application/Update/@Model.Application.ApplicationID">
        <div class="form-group">
            <span>Volunteer:</span>
            <select name="VolunteerID">
                @foreach (var volunteer in Model.Volunteers)
                {
                    string selected = "";
                    if (Model.Application.VolunteerID == volunteer.VolunteerID) { selected = "selected"; }
                    <option value="@volunteer.VolunteerID" @selected>@volunteer.ApplicationUser.FirstName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <span>Posting:</span>
            <select name="VolunteerPostingID">
                @foreach (var posting in Model.VolunteerPostings)
                {
                    string selected = "";
                    if (Model.Application.VolunteerPostingID == posting.VolunteerPostingID) { selected = "selected"; }
                    <option value="@posting.VolunteerPostingID" @selected>@posting.VolunteerPostingTitle</option>
                }
            </select>
        </div>
        <div class="form-group">
            <span>Education:</span>
            <input type="text" id="VolunteerEducation" name="VolunteerEducation" value="@Model.Application.Education"/>
        </div>
        <div class="form-group">
            <span>Current Occupation:</span>
            <input type="text" id="VolunteerOccupation" name="VolunteerOccupation" value="@Model.Application.CurrentOccupation"/>
        </div>
        <div class="form-group">
            <span>Experience (In years)</span>
            <input type="number" id="VolunteerExperience" name="VolunteerExperience" value="@Model.Application.Experience"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Update Application" />
        </div>
    </form>

</div>



