@model HospitalProject.Models.PatientEcard

@{
    ViewBag.Title = "Show";
}

<h2>Patient eCard Details (Card ID: @Model.PatientCardID)</h2>

<div class="navbar">
    <a class="btn btn-info" href="/PatientEcard/List" role="button"><span class="glyphicon glyphicon-chevron-left" style="padding-right: 2px;"></span> Back to List</a>
    @if (Model.CardDelivered == false)
    {
        <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#Deliver_@Model.PatientCardID"><span class="glyphicon glyphicon-envelope"></span> Click to Deliver</button>
    }

    <!-- Modal -->
    <div class="modal fade" id="Deliver_@Model.PatientCardID" tabindex="-1" role="dialog" aria-labelledby="DeliverLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="DeliverLabel">Deliver Confirmation</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please confirm delivery for Card ID: @Model.PatientCardID
                </div>
                <div class="modal-footer">
                    <form method="post" action="/PatientEcard/Deliver/?PatientCardID=@Model.PatientCardID">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" name="Deliver" value="Deliver" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Delivery Status:</label>
        <div class="col-sm-10">
            @if (@Model.CardDelivered == false)
            {
                <p class="form-control-static">Not delivered</p>
            }
            else
            {
                <p class="form-control-static">Delivered</p>
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Patient:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PatientFirstname @Model.PatientLastname</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Sender:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.SenderFirstname @Model.SenderLastname</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Date:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.CardMessage</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Location:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.HospitalCampus.CampusName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Patient Room:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PatientRoom</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Date Submitted:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.DateSubmitted</p>
        </div>
    </div>
    @if (Model.DateDelivered != null)
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">Date Delivered:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.DateDelivered</p>
            </div>
        </div>
    }
    <div class="form-group">
        <label class="col-sm-2 control-label">Selected Card:</label>
        <div class="col-sm-10">
            <img src="~/Content/eCards/@Model.CardImage" style="max-width:50%;">
        </div>
    </div>

</div>





